<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Airmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.css'>
    <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.0.5/docs.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js'></script>
    <script src='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.js'></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="bower_components/Leaflet.heat/dist/leaflet-heat.js"></script>
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="cluster.js"></script>
  </head>
  <body>
    <div ng-app="MyApp" class="sidenavdemoBasicUsage" ng-controller="AppCtrl" layout="column" ng-cloak="">
        <div class="md-toolbar-tools">
          <h3 class="ng-binding">Stuttgart air quality sensors</h3>
          <span class="flex" flex=""></span>
          <md-radio-group layout="row" ng-model="filter.pm" ng-change="applyFilter()">
           <md-radio-button value="10" class="md-primary"> PM 1 </md-radio-button>
           <md-radio-button value="25">PM 2,5</md-radio-button>
         </md-radio-group>
        </div>

      <!--
    <section layout="row" flex="" height="100%">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sensors</h1>
        </md-toolbar>
        <md-content layout-padding="" ng-controller="LeftCtrl">
          <md-checkbox ng-model="ctrl.autocompleteDemoRequireMatch">
            Heatmap
          </md-checkbox>

          <md-switch ng-model="data.pm10" aria-label="PM10">
            PM1
          </md-switch>
          <md-switch ng-model="data.pm25" aria-label="PM2.5">
            PM2.5
          </md-switch>

          <md-button ng-click="close()" class="md-primary" hide-gt-md="">
            Close Sidenav Left
          </md-button>
        </md-content>

      </md-sidenav>
    -->
      <md-content flex="" layout-padding="">
        <md-card>
          <div ng-controller="GeoJSONController" layout="column" layout-fill="" layout-align="top center">
              <leaflet geojson="geojson" lf-center="stuttgart" layers="layers" width="100%" height="600px"></leaflet>
          </div>
          </md-card>
      </md-content>

      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-content ng-controller="RightCtrl" layout-padding="">
          <ul>
              <li><strong ng-controller="GeoJSONController" ng-bind="selectedSensor"></strong></li>
              <li><strong ng-controller="GeoJSONController" ng-bind="selectedSensorId"></strong></li>
          </ul>
        </md-content>
      </md-sidenav>
    </section>
    </div>
  </body>
</html>
